<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование пользователя</title>
</head>
<body>
<h2>Редактировать пользователя:</h2>
<form th:action="@{/editUser}" method="post" th:object="${user}">
  <input type="hidden" th:field="*{id}" />

  <input type="text" th:field="*{firstName}" placeholder="Имя" />
  <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка имени</div>

  <input type="text" th:field="*{lastName}" placeholder="Фамилия" />
  <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка фамилии</div>

  <input type="email" th:field="*{email}" placeholder="Email" />
  <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка Email</div>

  <button type="submit">Сохранить изменения</button>
</form>
<a th:href="@{/users}">Вернуться к списку пользователей</a>
</body>
</html>
