<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<h2>Пользователи:</h2>
<ul>
    <li th:each="user : ${users}">
        <span th:text="|${user.firstName} ${user.lastName}, email: ${user.email}|"></span>
        <form th:action="@{/deleteUser}" method="post" style="display:inline;" onsubmit="return confirm('Вы уверены, что хотите удалить пользователя?');">
            <input type="hidden" th:name="id" th:value="${user.id}" />
            <button type="submit">Удалить</button>
        </form>
        <form th:action="@{/editUser}" method="get" style="display:inline;">
            <input type="hidden" th:name="id" th:value="${user.id}" />
            <button type="submit">Изменить</button>
        </form>
    </li>
</ul>

<!-- Кнопка для добавления нового пользователя, переход на страницу addUser.html -->
<a th:href="@{/addUser}" class="btn btn-primary">Добавить пользователя</a>

</body>
</html>
